/* You can add global styles to this file, and also import other style files */
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://uploads-ssl.webflow.com/61902044595dae18f9e01921/61902044595dae5edfe01942_ico-pattern-hero.svg");
  z-index: -1; /* position beneath all other elements */
}

:root {
  --primaryColor: linear-gradient(to right, #0f0097, #3100a0, #4800a8, #5b00b1, #6e00b9, #8000c1, #9200c9, #a400d1, #bb00da, #d100e3, #e800eb, #ff00f3);
}

.bg-primary {
  background: var(--primaryColor)
}

.btn-primary {
  background: var(--primaryColor);
  color: #fff;
  border: 3px solid;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  border: 3px solid black;
}
