<section id="welcome" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1 class="text-black">Chart.js + NG2-Charts + Spring Boot App</h1>
        <p class="lead mt-5 mb-8 text-black">This is a chart application that plots charts from data retrieved from the back-end</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <button routerLink="/chart" class="btn btn-primary me-2">Chart</button>
          <a href="https://github.com/KONRADS098/chart-app" target="_blank" class="btn btn-primary">Readme</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 intro-img">
        <img src="assets/images/chart_image_1.svg" class="img-fluid animated home-image" alt=""/>
      </div>
    </div>
  </div>
</section>

